html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    
}

body {
    background-color: #eceef1;
    font-family: 'Roboto', sans-serif;
}

button {
    border: 1px solid #000;
    background-color: #0077c5;
    border-radius: 5px;
    color: #fff;
    vertical-align: top;
    cursor: pointer;
}

button img {
    width: 13px;
    margin-right: 3px;
    vertical-align: middle;
}

header {
    text-align: right;
    margin-top: 10px;
    padding: 0 25px;
    font-size: 12px;
}

header a {
    display: block;
    text-decoration: none;
    color: #0077c5;
}

header div {
    display: inline-block;
    margin: 1px 12px 0 0;
    line-height: 16px;
    color: rgb(95, 92, 92);
}

header button {
    height: 33px;
    width: 105px;
}

section.content-wrapper {
    text-align: center;
    margin-top: 50px;
}

section.content-wrapper > h1 {
    font-size: 40px;
    font-weight: bold;
    color: #8d9096;
    margin-bottom: 15px;
}

section.content-wrapper li {
    display: inline-block;
    margin: 0 3px;
}

section.content-wrapper li img {
    width: 25px;
    vertical-align: middle;
}

section.content-wrapper a {
    text-decoration: none;
    color: #8d9096;
    font-size: 18px;
}

.main {
    margin: 20px auto 30px;
    width: 380px;
    background-color: #fff;
    border: 1px solid rgb(204, 202, 202);
}

section.form {
    padding: 40px 30px 30px;
}

section.form h1 {
    font-size: 22px;
    color: rgb(95, 92, 92);
    margin-bottom: 25px;
}

section.form h2 {
    font-size: 14px;
    color: #535455;
}

section.form hgroup a {
    font-size: 14px;
    color: #0077c5;
    font-size: 12px;
}

form {
    text-align: left;
    margin-top: 25px;
}

form label {
    color: #535455;
    font-size: 14px;
}

form div {
    margin-bottom: 35px;

}

form p {
    margin-top: 6px;
    font-size: 10px;
    color: #535455;
}

form input {
    display: block;
    width: 100%;
    margin-top: 5px;
    border: 1px solid rgb(204, 202, 202);
    height: 35px;
    border-radius: 3px;
    padding-left: 8px;
}

form input:focus {
    border: 1px solid #499bd1;
    box-shadow: 0 0 4px #499bd1;
}

form button {
    width: 100%;
    height: 45px;
    font-size: 17px;
}

form button:focus {
    color: rgb(191, 191, 247);
}

.content-wrapper footer, .content-wrapper footer a {
    margin-top: 40px;
    font-size: 12px;
    font-style: italic;
    color: #8d9096;
    line-height: 20px;
}

.content-wrapper footer a, .content-wrapper footer a:hover {
    color: #0077c5;
    text-decoration: none;
}

section.recaptcha {
    font-size: 10px;
    background-color: #eceef1;
    color: #8d9096;
    width: 100%;
    padding: 20px 0;
}

section.recaptcha a {
    font-size: 10px;
    color: #0077c5;
    width: 100%;
}

body > footer {
    text-align: center;
    color: #8d9096;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Merriweather', serif;
}

footer li {
    display: inline-block;
    margin: 0 7px;
}

footer a {
    text-decoration: none;
    color: #8d9096;
}

footer a:hover {
    text-decoration: underline;
}

#privacy {
    position: absolute;
    bottom: 0;
    right: 100px;
    background-color: #6b6c72;
    padding: 15px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}